<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG654zUVik3HkuX63K9msBU_nfJ0Nu2Yg</string>
	<key>GCM_SENDER_ID</key>
	<string>710120976420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>globalvar.app.divideo</string>
	<key>PROJECT_ID</key>
	<string>globalvar-divideo</string>
	<key>STORAGE_BUCKET</key>
	<string>globalvar-divideo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710120976420:ios:af399d6106e9213035e8b1</string>
</dict>
</plist>